# dependencies
node_modules/

# environment variables
.env

# Ignore all .rest files
*.rest
.rest/

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS or editor files
.DS_Store
.idea/
.vscode/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

